.u-section-1 .u-sheet-1 {
  min-height: 517px;
}

.u-section-1 .u-form-1 {
  height: 406px;
  width: 680px;
  margin: 108px auto 3px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}